/**
 * @file
 * Schema.org Blueprints Starter Kit: Layout styles.
 */

div.border,
div.highlight,
div.shadow {
  padding: 1em;
}

div.border {
  border: 3px solid #000;
}

div.highlight {
  background-color: #ffe;
}

div.shadow {
  box-shadow: 5px 10px 8px #888;
}

.schemadotorg-header {
  margin-block: var(--sp1);
  margin-block-start: 0;
}

.schemadotorg-header-text {
  margin-block: 0;
  margin-block-start: 0;
}

.schemadotorg-header-prefix {
  font-weight: bold;
}

.schemadotorg-header-suffix {
  font-style: italic;
}

div.border .field:not(:last-child),
div.highlight .field:not(:last-child),
div.shadow .field:not(:last-child) {
  margin-block-end: 0;
}

.node--type-advanced-page .field--type-link a {
  font-weight: bold;
}
