/**
 * @file
 * Schema.org Blueprints Starter Kit: Layout Slick styles.
 */

/**
 * Slick.
 */
.schemadotorg-starterkit-layout-slick .slick-next,
.schemadotorg-starterkit-layout-slick .slick-prev {
  z-index: 100;
  width: 50px;
  height: 50px;
  color: #fff;
}

.schemadotorg-starterkit-layout-slick .slick-next::before,
.schemadotorg-starterkit-layout-slick .slick-prev::before {
  opacity: revert;
  color: #333;
  font-size: 50px;
}

.gin--dark-mode .schemadotorg-starterkit-layout-slick .slick-next::before,
.gin--dark-mode .schemadotorg-starterkit-layout-slick .slick-prev::before {
  color: #ccc;
}

.schemadotorg-starterkit-layout-slick .slick-dots li button::before {
  font-size: 25px;
  line-height: 25px;
}
