<div class="schemadotorg-advanced-content-horizontal">
  <div class="schemadotorg-advanced-content-horizontal__image">
    {{ image }}
  </div>
  <div class="schemadotorg-advanced-content-horizontal__name">
    {{ name }}
  </div>
  <div class="schemadotorg-advanced-content-horizontal__text">
    {{ text }}
  </div>
  <div class="schemadotorg-advanced-content-horizontal__link">
    {{ about }}
  </div>
</div>
