@media screen and (min-width: 800px) {
  .schemadotorg-advanced-content-horizontal {
    display: flex;
    align-items: center;
  }

  .schemadotorg-advanced-content-horizontal__image {
    max-width: 100px;
  }

  .schemadotorg-advanced-content-horizontal__name {
    padding: 0 20px;
  }

  .schemadotorg-advanced-content-horizontal__text {
    padding: 0 20px;
  }

  .schemadotorg-advanced-content-horizontal__link a {
    white-space: nowrap;
  }
}
